In [38]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# My libreries
import plot_utils as pltu
import utils

In [39]:
# Convert the erBeforeHospitalization2 to csv from the general excel file

# Specify the Excel file path
excel_file = 'rehospitalization.xlsx'

# Load the specific sheet by name or index
# Example: Load sheet by name
sheet_name = 'erBeforeHospitalization2'  # Replace with your sheet name

# Example: Load sheet by index (0 for the first sheet)
# sheet_name = 0

# Read the specific sheet into a DataFrame
erBeforeHospitalization2_excel = pd.read_excel(excel_file, sheet_name=sheet_name, engine='openpyxl')

# Save the DataFrame to a CSV file
csv_file = 'erBeforeHospitalization2.csv'
erBeforeHospitalization2_excel.to_csv(csv_file, index=False, encoding='utf-8')

print(f'Sheet "{sheet_name}" has been converted to {csv_file}')

Sheet "erBeforeHospitalization2" has been converted to erBeforeHospitalization2.csv

In [40]:
erBeforeHospitalization2_df = pd.read_csv('erBeforeHospitalization2.csv')
erBeforeHospitalization2_df.head(10)

,Patient,Admission_Medical_Record,Admission_Entry_Date,Release_Date,מחלקה מאשפזת1,Medical_Record,ev_Admission_Date,ev_Release_Time,דרך הגעה למיון,מיון,urgencyLevelTime,אבחנות במיון,codeDoctor,Admission_Medical_Record2,Admission_Entry_Date2,Release_Date2,מחלקה מאשפזת2
0,1043772,7237062,2023-11-24 15:50:11.060,2023-11-26 15:00:00,3,7264965.0,2023-12-05 11:58:00,2023-12-05 21:08:00,נהג אמבולנס,מיון פנימי,3.0,7860,1296.0,7266393,2023-12-05 21:13:49.920,2023-12-08 11:46:00,3
1,1043772,7237062,2023-11-24 15:50:11.060,2023-11-26 15:00:00,3,7307847.0,2023-12-21 10:35:00,2023-12-21 15:21:00,NaN,מיון פנימי,2.0,"2859 , 7860",2294.0,7309258,2023-12-21 15:21:57.077,2023-12-27 13:46:00,3
2,1043772,7266393,2023-12-05 21:13:49.920,2023-12-08 11:46:00,3,7307847.0,2023-12-21 10:35:00,2023-12-21 15:21:00,NaN,מיון פנימי,2.0,"2859 , 7860",2294.0,7309258,2023-12-21 15:21:57.077,2023-12-27 13:46:00,3
3,1043772,7266393,2023-12-05 21:13:49.920,2023-12-08 11:46:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7330659,2023-12-30 21:44:35.313,2023-12-31 14:36:00,3
4,1043772,7309258,2023-12-21 15:21:57.077,2023-12-27 13:46:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7330659,2023-12-30 21:44:35.313,2023-12-31 14:36:00,3
5,77493,5213070,2021-09-07 18:28:03.267,2021-09-13 13:58:00,4,5238260.0,2021-09-19 18:10:00,2021-09-19 23:53:00,לבד,מיון פנימי,4.0,2765,10615.0,5238673,2021-09-20 00:21:42.443,2021-10-17 13:25:00,4
6,77493,5238673,2021-09-20 00:21:42.443,2021-10-17 13:25:00,4,5300593.0,2021-10-18 09:29:00,2021-10-18 11:01:00,לבד,מיון פנימי,4.0,7860,11443.0,5301377,2021-10-18 11:22:36.933,2021-10-21 10:00:00,4
7,37680,6531434,2023-02-10 00:12:48.857,2023-02-11 10:00:00,5,6539407.0,2023-02-13 16:52:00,2023-02-13 21:46:00,לבד,מיון פנימי,3.0,4280,11430.0,6539744,2023-02-13 21:56:15.157,2023-02-25 22:42:00,2
8,70066,5751575,2022-04-03 03:27:52.167,2022-04-03 17:33:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5765859,2022-04-07 10:36:24.640,2022-04-08 15:30:00,1
9,70066,6931381,2023-07-14 09:14:41.000,2023-07-16 20:14:00,4,6993208.0,2023-08-08 01:46:00,2023-08-08 04:34:00,לבד,מיון פנימי,4.0,514,11833.0,6993279,2023-08-08 04:40:25.657,2023-08-08 18:04:00,4

In [41]:
erBeforeHospitalization2_df.shape

(9109, 17)

In [42]:
# Check for nulls in the data
print(erBeforeHospitalization2_df.isna().sum())
print(erBeforeHospitalization2_df[erBeforeHospitalization2_df.isna().any(axis=1)])

Patient                         0
Admission_Medical_Record        0
Admission_Entry_Date            0
Release_Date                    0
מחלקה מאשפזת1                   0
Medical_Record               1597
ev_Admission_Date            1597
ev_Release_Time              1597
דרך הגעה למיון               2255
מיון                         1597
urgencyLevelTime             1673
אבחנות במיון                 1682
codeDoctor                   1693
Admission_Medical_Record2       0
Admission_Entry_Date2           0
Release_Date2                   0
מחלקה מאשפזת2                   0
dtype: int64
      Patient  Admission_Medical_Record     Admission_Entry_Date  \
1     1043772                   7237062  2023-11-24 15:50:11.060
2     1043772                   7266393  2023-12-05 21:13:49.920
3     1043772                   7266393  2023-12-05 21:13:49.920
4     1043772                   7309258  2023-12-21 15:21:57.077
8       70066                   5751575  2022-04-03 03:27:52.167
...       ...                       ...                      ...
9089   337333                   6063210  2022-07-29 22:13:58.530
9091    96419                   6223673  2022-10-10 00:58:41.513
9099   980451                   5881005  2022-05-26 19:47:09.253
9106   769513                   5081325  2021-07-13 18:59:50.437
9107   769513                   5098541  2021-07-20 11:05:40.627

             Release_Date  מחלקה מאשפזת1  Medical_Record    ev_Admission_Date  \
1     2023-11-26 15:00:00              3       7307847.0  2023-12-21 10:35:00
2     2023-12-08 11:46:00              3       7307847.0  2023-12-21 10:35:00
3     2023-12-08 11:46:00              3             NaN                  NaN
4     2023-12-27 13:46:00              3             NaN                  NaN
8     2022-04-03 17:33:00              1             NaN                  NaN
...                   ...            ...             ...                  ...
9089  2022-08-03 16:05:00              3             NaN                  NaN
9091  2022-10-12 14:31:00              2             NaN                  NaN
9099  2022-06-08 17:21:00              2             NaN                  NaN
9106  2021-07-14 17:28:00              4       5124754.0  2021-07-29 20:34:00
9107  2021-07-22 15:21:00              4       5124754.0  2021-07-29 20:34:00

          ev_Release_Time דרך הגעה למיון        מיון  urgencyLevelTime  \
1     2023-12-21 15:21:00            NaN  מיון פנימי               2.0
2     2023-12-21 15:21:00            NaN  מיון פנימי               2.0
3                     NaN            NaN         NaN               NaN
4                     NaN            NaN         NaN               NaN
8                     NaN            NaN         NaN               NaN
...                   ...            ...         ...               ...
9089                  NaN            NaN         NaN               NaN
9091                  NaN            NaN         NaN               NaN
9099                  NaN            NaN         NaN               NaN
9106  2021-07-30 01:37:00            NaN  מיון פנימי               4.0
9107  2021-07-30 01:37:00            NaN  מיון פנימי               4.0

       אבחנות במיון  codeDoctor  Admission_Medical_Record2  \
1      2859 , 7860       2294.0                    7309258
2      2859 , 7860       2294.0                    7309258
3               NaN         NaN                    7330659
4               NaN         NaN                    7330659
8               NaN         NaN                    5765859
...             ...         ...                        ...
9089            NaN         NaN                    6105471
9091            NaN         NaN                    6240879
9099            NaN         NaN                    5920954
9106    586 , 7860      10014.0                    5125850
9107    586 , 7860      10014.0                    5125850

        Admission_Entry_Date2        Release_Date2  מחלקה מאשפזת2
1     2023-12-21 15:21:57.077  2023-12-27 13:46:00              3
2     2023-12-21 15:21:57.077  2023-12-27 13:46:00              3
3     2023-12-30 21:44:35.313  2023-12-31 14:36:00              3
4     2023-12-30 21:44:35.313  2023-12-31 14:36:00              3
8     2022-04-07 10:36:24.640  2022-04-08 15:30:00              1
...                       ...                  ...            ...
9089  2022-08-15 14:17:55.493  2022-08-17 10:11:00  טיפול נמרץ לב
9091  2022-10-19 20:26:19.433  2022-10-26 10:54:00              2
9099  2022-06-12 20:52:06.640  2022-06-17 11:53:00              2
9106  2021-07-30 05:16:38.543  2021-08-10 15:08:00              4
9107  2021-07-30 05:16:38.543  2021-08-10 15:08:00              4

[2292 rows x 17 columns]

In [43]:
# Convert time cells to datatime pandas format for future processing

df_with_time = erBeforeHospitalization2_df.copy()

df_with_time['Admission_Entry_Date'] = pd.to_datetime(df_with_time['Admission_Entry_Date'])
df_with_time['Release_Date'] = pd.to_datetime(df_with_time['Release_Date'])

df_with_time['ev_Admission_Date'] = pd.to_datetime(df_with_time['ev_Admission_Date'])
df_with_time['ev_Release_Time'] = pd.to_datetime(df_with_time['ev_Release_Time'])

df_with_time['Admission_Entry_Date2'] = pd.to_datetime(df_with_time['Admission_Entry_Date2'])
df_with_time['Release_Date2'] = pd.to_datetime(df_with_time['Release_Date2'])

#### Fill null values and data cleaning

In [44]:
# By looking at ("ev_Admission_Date", "ev_Release_Time") we can see that the dates are almost identical to ("Admission_Medical_Record2", "Release_Date2")
# Thus, I will replace these dates where the dates are missing:

# Replace null values in 'ev_Admission_Date' with values from 'Admission_Medical_Record2'
df_with_time['ev_Admission_Date'].fillna(df_with_time['Admission_Medical_Record2'], inplace=True)

# Replace null values in 'ev_Release_Time' with values from 'Release_Date2'
df_with_time['ev_Release_Time'].fillna(df_with_time['Release_Date2'], inplace=True)


# The "Admission_Medical_Record" and "Medical_Record" columns does not give much information so I will drop them.
df_with_time = df_with_time.drop(columns=['Admission_Medical_Record', 'Medical_Record'])

In [45]:

unique_getting_to_er= df_with_time['דרך הגעה למיון'].unique()
unique_er = df_with_time['מיון'].unique()
unique_urgencyLevelTime = df_with_time['urgencyLevelTime'].unique()
unique_codeDoctor = df_with_time['codeDoctor'].unique()

# To print the unique values

print(unique_getting_to_er, "\n\n")
print(unique_er, "\n\n")
print(unique_urgencyLevelTime, "\n\n")
print(unique_codeDoctor, "\n\n")

['נהג אמבולנס' nan 'לבד' 'בן משפחה' 'אחר']


['מיון פנימי' nan 'רפואה דחופה זיהומים' 'מיון כירורגי' 'מיון מהלכים'
 'המחלקה לרפואה דחופה' 'מיון אורתופדי' 'מיון נשים' 'מיון עיניים']


[ 3.  2. nan  4.  5.  1.]


[ 1296.  2294.    nan 10615. 11443. 11430. 11833. 12473. 11403. 11792.
 10014. 10923.  6770. 11174.  6775.  7306. 10769.  9582. 10313. 11178.
  1232. 10760. 10535.  6939.  9969. 11119. 11460. 11639.  6861.  9562.
 10575.  1602.  6774.  8910. 12180.  6768.  9281.  6771.  9851.  9545.
  6777. 11167.  1092. 12129. 10112. 10126. 10016. 10946. 10561.  6769.
 10676.  9792. 12691. 11515.  1315. 10525. 12913. 10762. 10806. 11365.
 11810.  1540.  9971. 10262.  7993.  9762. 10803. 10537. 12587. 11746.
 11233. 10487. 11175. 10948. 11582. 10795. 12408.  9436. 12478. 12354.
 10798.  1985.  2009. 11888.  9729. 11377.  9972. 12095.  1116. 11887.
  9893. 11673. 11437.  7680. 11848. 11990. 11611. 12359. 11840.  2004.
 12929. 11023. 12517. 11482.  9361.  1048.  9435.  8821. 11250. 12688.
  9660. 12649. 11797. 11822. 10170. 11469.  1384.  6773.  9702. 11884.
 10582. 12490. 11350. 11195. 10408. 12179. 11670.  8826.  7665. 11894.
 12476. 12278.  7605.  6888.  9718. 11943.  7596. 11010.  1474. 10942.
 10811.  7725. 12631.  6892.  1147. 11623.  6601. 11803. 12461. 11842.
  9585.  1928. 12592.  6535.  9458. 10612.  9975. 10465. 12105.  8470.
 10264.  1977.  1974. 12124.  6796. 12384. 11766.  6927. 10774. 11459.
 12923. 11031.  8706. 12772. 11481. 11809.  9786. 12269.  1060.  1922.
  7233.  2008. 11360. 12356.  1491. 10255. 12648. 12413.  1971. 11674.
 10273. 10329. 12481. 12148. 11121.  1935.  9422. 10032. 11224.  9767.
  7893. 11836.  9970. 11890. 12197. 10257. 12639.  9095. 12267. 12722.
  9097.  1052. 12261. 11920. 11914.  9973.  9170. 12191. 11762. 10831.
 12523. 11504.  1852.  6937. 10988.  7359. 11531.  9487. 12659.  2016.
 10933.  1482. 12483.  1150. 11989.  1483.  1309.]

In [46]:

utils.check_null_values_in_df(df_with_time)

Patient                         0
Admission_Entry_Date            0
Release_Date                    0
מחלקה מאשפזת1                   0
ev_Admission_Date               0
ev_Release_Time                 0
דרך הגעה למיון               2255
מיון                         1597
urgencyLevelTime             1673
אבחנות במיון                 1682
codeDoctor                   1693
Admission_Medical_Record2       0
Admission_Entry_Date2           0
Release_Date2                   0
מחלקה מאשפזת2                   0
dtype: int64

In [47]:
# Drop rows that have many null values in the same row

columns_to_check = ["codeDoctor", "אבחנות במיון", "urgencyLevelTime", "מיון", "דרך הגעה למיון"]
df_with_time = utils.drop_rows_with_many_nans(df_with_time, columns_to_check, max_nans=2)
utils.check_null_values_in_df(df_with_time)

Patient                        0
Admission_Entry_Date           0
Release_Date                   0
מחלקה מאשפזת1                  0
ev_Admission_Date              0
ev_Release_Time                0
דרך הגעה למיון               595
מיון                           0
urgencyLevelTime               5
אבחנות במיון                  11
codeDoctor                    22
Admission_Medical_Record2      0
Admission_Entry_Date2          0
Release_Date2                  0
מחלקה מאשפזת2                  0
dtype: int64

In [48]:
df_encoded = df_with_time.copy()
df_encoded = pd.get_dummies(df_encoded, columns=['דרך הגעה למיון'])
df_encoded = pd.get_dummies(df_encoded, columns=['מיון'])

In [49]:
getting_to_er_and_emergency = [col for col in df_encoded.columns if col.startswith('דרך הגעה למיון')]
er_department_and_emergency = [col for col in df_encoded.columns if col.startswith('מיון')]



pair_counts1 = pltu.count_pairs(df_encoded, 'urgencyLevelTime', getting_to_er_and_emergency)

# Apply a color gradient to the pair_counts DataFrame
styled_table = pair_counts1.style.background_gradient(cmap='coolwarm').set_caption("Urgency vs Way of Arrival")
styled_table

In [50]:

pair_counts2 = pltu.count_pairs(df_encoded, 'urgencyLevelTime', er_department_and_emergency)
# Apply a color gradient to the pair_counts DataFrame
styled_table = pair_counts2.style.background_gradient(cmap='coolwarm').set_caption("Urgency vs ER department")
styled_table

In [51]:

pair_counts3 = pltu.count_active_pairs(df_encoded, er_department_and_emergency, getting_to_er_and_emergency)

# Apply a color gradient to the pair_counts DataFrame
styled_table = pair_counts3.style.background_gradient(cmap='coolwarm').set_caption("ER department vs Way of Arrival")
styled_table

We can see from the previous tables that most of the ways of arrival  to the hospital and most of the ER departments relate mainly to urgency level 4, and some of them to level 3. 
In addition, we can see that most of the ways of arrival relates to "מיון פנימי", Arriving alone relates also to "רפואה דחופה וזיהומים" and arriving with family member or with ambulance relates as well to "מיון מהלכים" .

Thus, I will replace every column where there is no urgency level with urgency level 4. 
In addition, every column without ER department will be replaced with "מיון פנימי". 
We can see from the first table that most of the patients arrived alone or in ambulance or with a family member, thus, I will put a random choice for the computer to decide the way of arrival.

In [52]:
df_with_time['urgencyLevelTime'].fillna(4, inplace=True)

df_with_time['דרך הגעה למיון'].fillna(utils.choose_random_string("דרך הגעה למיון_נהג אמבולנס", "דרך הגעה למיון_לבד", "דרך הגעה למיון_בן משפחה"), inplace=True)

# df_with_time['מיון'].fillna(("מיון פנימי"), inplace=True)

In [56]:
utils.check_null_values_in_df(df_with_time)
print("\n\n ", df_with_time.shape)

Patient                       0
Admission_Entry_Date          0
Release_Date                  0
מחלקה מאשפזת1                 0
ev_Admission_Date             0
ev_Release_Time               0
דרך הגעה למיון                0
מיון                          0
urgencyLevelTime              0
אבחנות במיון                 11
codeDoctor                   22
Admission_Medical_Record2     0
Admission_Entry_Date2         0
Release_Date2                 0
מחלקה מאשפזת2                 0
dtype: int64


  (7438, 15)

Since the amount of of data missing in the dataframe is a very small percentage of the data left, I will drop the rows where the data is missing

In [59]:
df_with_time = df_with_time.dropna()

utils.check_null_values_in_df(df_with_time)
print("\n\n ", df_with_time.shape)

Patient                      0
Admission_Entry_Date         0
Release_Date                 0
מחלקה מאשפזת1                0
ev_Admission_Date            0
ev_Release_Time              0
דרך הגעה למיון               0
מיון                         0
urgencyLevelTime             0
אבחנות במיון                 0
codeDoctor                   0
Admission_Medical_Record2    0
Admission_Entry_Date2        0
Release_Date2                0
מחלקה מאשפזת2                0
dtype: int64


  (7415, 15)

In [61]:
# Save the cleaned dataframe as csv file
df_with_time.to_csv('erhospitalization2_cleaned.csv', index=False)