# Data Science 2 - final project results - team 11: Barack Samuni & Barak Yaakov
***

In [12]:
import os
import pandas as pd

## Task 7: Data cleaning and completion for table: hospitalization2
***

first, let's view the data:

In [13]:
# The data is present in the data folder two directories up
data_dir = os.path.abspath(os.path.join(os.getcwd(),"..","data"))
dataset_path = os.path.join(data_dir, "rehospitalization.xlsx")

# read the Excel file 
hospitalization_df = pd.read_excel(dataset_path,sheet_name='hospitalization2')
hospitalization_df.head()

,Patient,unitName1,Admission_Medical_Record,Admission_Entry_Date,Release_Date,unitName2,Admission_Medical_Record2,Admission_Entry_Date2,Release_Date2,סוג קבלה,מהיכן המטופל הגיע,Release_Type,רופא משחרר,ימי אשפוז,אבחנות בקבלה,אבחנות בשחרור,מחלקות מייעצות,ct
0,430047,5,4727327,2021-02-16 17:33:45.570,2021-02-19 12:40:00,5,4745943,2021-02-24 15:03:30.490,2021-02-25 12:38:00,דחוף,מביתו,שוחרר לביתו,11023.0,1,"5370 , 7872 , 78720","5370 , 7872 , 78720",NaN,0
1,447962,4,6084166,2022-08-07 13:27:58.780,2022-08-08 15:15:00,4,6137129,2022-09-01 04:20:51.617,2022-09-02 16:00:00,דחוף,מביתו,שוחרר לביתו,12517.0,1,78060,78060,ריפוי בעיסוק,0
2,214558,5,7164813,2023-10-27 07:34:41.013,2023-10-29 17:18:00,5,7172678,2023-10-30 17:58:09.730,2023-11-01 15:33:00,דחוף,מביתו,שוחרר לביתו,11887.0,2,5119,"5119 , 514",שירות דיאטה,0
3,71277,3,4295329,2020-07-29 17:00:56.863,2020-08-03 14:26:00,3,4354333,2020-08-30 04:25:30.670,2020-09-03 13:45:00,דחוף,מביתו,שוחרר לביתו,10525.0,4,"2859 , 7807","486 , 5990",".שרות לפיזיותרפיה , מערך אורתופדי",0
4,112016,1,5052676,2021-07-03 11:42:24.973,2021-07-05 17:34:00,1,5078317,2021-07-13 01:21:32.077,2021-07-15 11:48:00,דחוף,מביתו,שוחרר לביתו,6890.0,2,7865,7865,"קרדיולוגיה- יעוצים , שירות דיאטה",1

let's check for missing values:

In [14]:
hospitalization_df[hospitalization_df.isna().any(axis=1)]

,Patient,unitName1,Admission_Medical_Record,Admission_Entry_Date,Release_Date,unitName2,Admission_Medical_Record2,Admission_Entry_Date2,Release_Date2,סוג קבלה,מהיכן המטופל הגיע,Release_Type,רופא משחרר,ימי אשפוז,אבחנות בקבלה,אבחנות בשחרור,מחלקות מייעצות,ct
0,430047,5,4727327,2021-02-16 17:33:45.570,2021-02-19 12:40:00,5,4745943,2021-02-24 15:03:30.490,2021-02-25 12:38:00,דחוף,מביתו,שוחרר לביתו,11023.0,1,"5370 , 7872 , 78720","5370 , 7872 , 78720",NaN,0
7,184878,2,6918151,2023-07-09 23:35:15.747,2023-07-10 14:59:00,2,6986186,2023-08-05 18:31:45.557,2023-08-06 17:08:00,דחוף,מביתו,שוחרר לביתו,11360.0,1,"2761 , 4019","2761 , 4019",NaN,0
10,357262,1,3883573,2020-01-06 17:15:08.367,2020-01-12 14:31:00,1,3949224,2020-02-03 20:39:27.760,2020-02-05 14:20:00,דחוף,מביתו,שוחרר לביתו,10762.0,2,78060,"27651 , 78060",NaN,0
13,873826,2,6565058,2023-02-22 22:11:22.987,2023-02-24 15:02:00,2,6572876,2023-02-26 15:50:32.377,2023-02-27 11:57:00,דחוף,מביתו,שוחרר לביתו,NaN,1,7807,7807,המטואונקולוגיה,0
17,664036,2,6956039,2023-07-24 10:33:56.947,2023-07-25 09:15:00,2,7007093,2023-08-13 17:05:14.897,2023-08-15 14:30:00,דחוף,אחר,שוחרר לביתו,11233.0,2,NaN,376010,"מיון עיניים , מכון דיאליזה",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8896,71734,5,5336066,2021-10-31 20:00:03.300,2021-11-05 14:26:00,5,5396084,2021-11-23 19:43:21.260,2021-12-03 13:10:00,דחוף,מביתו,שוחרר למוסד,NaN,10,"4280 , 514 , 7802",", 4280 , 514 , 7802",".שרות לפיזיותרפיה , פנימית ו , שירות דיאטה , ...",0
8897,185319,1,4521799,2020-11-18 22:15:47.687,2020-11-22 16:41:00,1,4537552,2020-11-25 14:15:30.023,2020-11-27 14:00:00,דחוף,מביתו,שוחרר לביתו,11178.0,2,4280,"4280 , 5119",NaN,0
8898,706750,4,4701708,2021-02-06 15:17:41.530,2021-02-08 13:34:00,4,4716334,2021-02-11 18:55:10.857,2021-02-13 17:30:00,דחוף,מביתו,שוחרר למוסד,10989.0,2,2859,4280,NaN,0
8907,951,5,5011100,2021-06-16 20:07:56.080,2021-06-17 16:35:00,5,5089310,2021-07-16 20:04:44.397,2021-07-18 14:24:00,דחוף,מביתו,שוחרר לביתו,10946.0,2,486,486,NaN,0
8914,191393,2,7052449,2023-09-05 12:03:48.107,2023-09-06 14:20:00,2,7091821,2023-09-20 16:27:43.813,2023-09-27 11:05:00,דחוף,מביתו,שוחרר לביתו,1769.0,7,514,"514 , Z37211",NaN,0

we can see that we have missing values. For example, in מחלקות מעייצות let's see what percentage of the data is missing, and also let's check what columns are missing. Before that, it would be nice to know what are the data types of the columns:

In [15]:
hospitalization_df.dtypes

Patient                               int64
unitName1                             int64
Admission_Medical_Record              int64
Admission_Entry_Date         datetime64[ns]
Release_Date                 datetime64[ns]
unitName2                             int64
Admission_Medical_Record2             int64
Admission_Entry_Date2        datetime64[ns]
Release_Date2                datetime64[ns]
סוג קבלה                             object
מהיכן המטופל הגיע                    object
Release_Type                         object
רופא משחרר                          float64
ימי אשפוז                             int64
אבחנות בקבלה                         object
אבחנות בשחרור                        object
מחלקות מייעצות                       object
ct                                    int64
dtype: object

In [16]:
hospitalization_df.isna().sum()

Patient                         0
unitName1                       0
Admission_Medical_Record        0
Admission_Entry_Date            0
Release_Date                    0
unitName2                       0
Admission_Medical_Record2       0
Admission_Entry_Date2           0
Release_Date2                   0
סוג קבלה                       68
מהיכן המטופל הגיע               0
Release_Type                    0
רופא משחרר                     88
ימי אשפוז                       0
אבחנות בקבלה                  802
אבחנות בשחרור                 233
מחלקות מייעצות               4176
ct                              0
dtype: int64

we can see that we have missing values in "סוג קבלה" which is an object (categorical variable), in רופא משחרר (float64, numerical variable) in אבחנות בקבלה and אבחנות בשחרור (both are objects, categorical variables) and in מחלקות מייעצות (also a categorical variable). let's check what percentage of the data is missing:

In [17]:
print(f'{hospitalization_df.isna().sum().sum() / hospitalization_df.size * 100:.2f} % of the data is missing')

3.34 % of the data is missing

Well, after giving it much thought, we decided to drop the missing values. The reason behind that is that any way to impute these values would lead to critical misinformation that might skew the model's predictions into making hazardous false decisions regarding the patient. Since less than 5% of the data is missing, we feel free to drop it without the risk of underfitting the model.

In [18]:
hospitalization_df_clean = hospitalization_df.dropna()
hospitalization_df_clean.isna().sum()

Patient                      0
unitName1                    0
Admission_Medical_Record     0
Admission_Entry_Date         0
Release_Date                 0
unitName2                    0
Admission_Medical_Record2    0
Admission_Entry_Date2        0
Release_Date2                0
סוג קבלה                     0
מהיכן המטופל הגיע            0
Release_Type                 0
רופא משחרר                   0
ימי אשפוז                    0
אבחנות בקבלה                 0
אבחנות בשחרור                0
מחלקות מייעצות               0
ct                           0
dtype: int64